:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(0, 128, 128);
  --clr-primary-2: rgb(0, 139, 139);
  --clr-primary-3: rgb(95, 158, 160);
  --clr-primary-4: rgb(32, 178, 170);
  --clr-primary-5: rgb(0, 206, 209);
  /* primary/main color */

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(244, 100%, 14%);
  --clr-grey-2: hsl(211, 98%, 19%);
  --clr-grey-3: hsl(209, 100%, 24%);
  --clr-grey-4: hsl(209, 100%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(209, 98%, 82%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: #dae2ec;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.18rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.about {
  background-color: var(--clr-grey-9);
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.about-center {
  width: 80vw;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.about-image {
  min-width: 20rem;
}

.underline {
  width: 220px;
  margin: 1rem auto;
  justify-content: center;
}

.about-main {
  border-radius: 2rem;
  background: var(--clr-grey-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 3px 3px 20px var(--clr-grey-7);
}
.about-info p {
  padding: 2rem;
  color: var(--clr-grey-2);
}

.p-lg {
  font-size: 1.3rem;
}

@media screen and (max-width: 792px) {
  .about-image img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}

@media screen and (min-width: 792px) {
  .about-main {
    flex-direction: row;
    max-height: 80vh;
  }
  .about-image {
    max-width: 80vw;
    max-height: 80vh;
    overflow: hidden;

    border-top-right-radius: none;
    border-bottom-left-radius: 2rem;
  }
  .about-image img {
    border-radius: none;
  }
  .about-image img {
    border-radius: none;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .about-info p {
    max-height: 300px;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}

@media screen and (min-width: 992px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .about-image {
    min-width: 10rem;
  }
}
