:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(0, 128, 128);
  --clr-primary-2: rgb(0, 139, 139);
  --clr-primary-3: rgb(95, 158, 160);
  --clr-primary-4: rgb(32, 178, 170);
  --clr-primary-5: rgb(0, 206, 209);
  /* primary/main color */

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(244, 100%, 14%);
  --clr-grey-2: hsl(211, 98%, 19%);
  --clr-grey-3: hsl(209, 100%, 24%);
  --clr-grey-4: hsl(209, 100%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(209, 98%, 82%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.18rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.hero {
  background: linear-gradient(var(--clr-grey-2), var(--clr-grey-3));
  color: var(--clr-grey-9);
  text-align: center;
  padding-top: 7rem;
}
.hero-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.hero-image {
  display: none;
}
.hero-icons a {
  color: var(--clr-primary-5);
  font-size: 2rem;
  margin: 1rem;
  transition: var(--transition);
}
.hero-icons a:hover {
  transform: translateX(5px);
  color: var(--clr-grey-10);
}
.shape {
  height: 100px;
  width: 100vw;
}

.hero-span {
  color: var(--clr-grey-5);
}
@media screen and (min-width: 768px) {
  .hero-center {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5rem;
  }
  .hero-image {
    display: block;
    position: 0;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    padding: 3rem;
    align-items: center;
    border-radius: 50%;
  }
  .hero-tag {
    max-width: 50vw;
  }
  .hero-tag h4 {
    font-size: 1.4rem;
  }

  .hero-image img {
    height: 300px;
    width: 280px;

    position: relative;
    object-fit: cover;
    border-radius: 35px;
    box-shadow: 5px 5px 20px var(--clr-grey-6);
  }
}
